$muda: #4aa96c;
$secondary: #fee37b;
$tua: #129169;

@mixin main {
  &:hover {
    border: 1px solid $tua;
    background-color: $secondary;
  }
  &:focus:active {
    background-color: $secondary;
    color: #333;
    border: 1px solid $tua;
  }
  font-weight: 700;
  border: 1px solid $tua;
  background-color: $secondary;
  color: #333;
}
