@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");
@import "./mixins";

body,
html {
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
  font-weight: 400;
}
hr {
  background-color: #fff !important;
}

.form-control {
  border: 1px solid $tua !important;
}

.scrolledClass {
  background-color: rgba(18, 145, 105, 0.95) !important;
}
