@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

body,
html {
  font-family: "Quicksand", sans-serif;
  scroll-behavior: smooth;
  font-weight: 400;
}
hr {
  background-color: #fff !important;
}

.scrolledClass {
  background-color: rgba(18, 145, 105, 0.95) !important;
}
